*{
    padding: 0px;
    margin : 0px ;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.Container{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.vectorContainer{
    width: 1000px;
}
h1{
    color: black;
}
p{
    color:black;
}
img{
   
    width :70%;
}

.formContainer{
    width: 500px;
}


.text
{
    height:50px;
    width:350px;
    padding-left: 10px;
    background-color: rgb(219, 207, 207);
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
}


button{
margin-top: 20px;
height:50px;
    width:350px;
cursor: pointer;
color: white;
background-color: blue;
border-radius: 10px;
transition: 0.3s;
border: 3px blue solid;
font-size: 20px;
}
:hover
{
    background-color: white;
    color: blue;
}
.New
{
    text-decoration: none;
    color: white;
}
:hover{
    color: blue;
}